@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family:'Poppins', sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}



.container {
    display: flex;
    background-image: url(../asset/bg-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
h4{
    font-size: 30px;
}

p{
    font-size: 32px;
}
h2{
    font-size: 58px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.text{
    text-align: center;
    background-color: transparent; 
    color: white; 
    text-shadow: 2px 2px 4px black;
    padding: 10px;
}


@media (max-width: 768px) {
    .text {
        color: white;
        text-shadow: 2px 2px 4px black;
    }
}







