*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #191919;
}
.wrapper{
    display: flex;

}
.wrapper .text{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dinamic-text{
    margin-left: 20px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dinamic-text li{
    list-style: none;
    color: red;
    font-size: 80px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;

}
@keyframes slide{
    100%{
        top: -360px;
    }
}

.dinamic-text li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.dinamic-text li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 90px;
    width: 100%;
    background: #191919;
    border-left: 2px solid #fff;
    animation: typing 3s steps(12) infinite;
}

@keyframes typing{
    40%,
    60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}
.container p{
    font-size: 40px;
    color: #fff;
    margin-left: 70px;
    margin-bottom: 20px;
}
